/* © 2022 - Ian Sayer */
:root {
    font-family: "Segoe UI", sans-serif;
    font-size: 13px;
    --background-color: #fafaff;
    --primary-color: black;
    --secondary-color: orange;
    background-color: var(--background-color);
    --k-rotate: -320;
}

body {
    margin:0;
}

heading {
    color: var(--secondary-color);
    background-color: black;
    border-bottom: 8px solid black;
    font-weight: 700;
    font-size: 2.5em;
    min-height: 2em;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: relative;
}

#transport[data-tempo]::after {
    content: " "attr(data-tempo)"BPM";
}
#transport::before {
    content: "⏵";
}
#transport[data-playing="true"]::before {
    content: "⏸" ;
}

.midi {
    display: inline-block;
    color: var(--secondary-color);
    width: 32px;
    height: 32px;
    outline: 3px solid;
    border-radius: 50%;
    position: relative;
}

.midi.error {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}

.midi.error[data-message]::after {
    text-decoration: underline wavy var(--secondary-color);
}
.midi[data-message]::after {
    content: attr(data-message);
    display: block;
    font-size: 16px;
    margin-top: -24px;
    margin-left: 50%;
    width: max-content;
    color: var(--background-color);
    font-weight: 400;
    transform: translateX(-50%);
}

.midi::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: currentColor;
    left: 13.85px;
    top: 2px;
    position: absolute;
    box-shadow: -7.5px 3.5px 0,
        -11.5px 11px 0,
        7.5px 3.5px 0,
        10px 11px 0;
}

@keyframes shake {
    10%,90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,50%,70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,60% {
        transform: translate3d(4px, 0, 0);
    }
}

.hide {
    display: none;
}

/* tabbed UI */
.tab_bar>span.selected {
    background-color: var(--primary-color);
    color: white;
    transform: translateY(0);
}

.tab_bar>span.selected::before,
.tab_bar>span.selected::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    position: absolute;
    right: -8px;
    bottom: 0;
    background: radial-gradient(circle at top right, transparent 68%, var(--primary-color) 76%);
}

.tab_bar>span.selected::before {
    left: -8px;
    bottom: 0;
    right: initial;
    transform: scaleX(-1);
}

.tab_bar {
    display: flex;
    position: relative;
    padding-top: 1em;
    user-select: none;
    background-color: antiquewhite;
}

.tab_bar::after {
    content: "";
    position: absolute;
    width: calc(100% + 3px);
    height: 3px;
    left: -6px;
    bottom: -3px;
    background: var(--primary-color);
}

.tab_bar>span {
    padding: 4px 14px;
    max-width: 130px;
    margin-left: 3px;
    background-color: var(--secondary-color);
    color: white;
    font-size: 1.1rem;
    font-weight: normal;
    border-radius: 6px 6px 0 0;
    outline: none;
    /* flex: 1 1 0; */
    overflow: visible;
    position: relative;
    transform: translateY(2px);
    transition: transform 100ms ease;
}
.tab-content {
    display: none;
}
.tab-content.show {
    display: block;
}

/* other ui */
.knob {
    position: relative;
    user-select: none;
    display: inline-flex;
    height:calc(96vw / 8);
    /* width: clamp(64px, 96vw / 8, 128px); */
    aspect-ratio: 1 / 1;
    background-image: radial-gradient(#dee 47%, grey 49%, transparent 50%);
}
.knob.note {
    background-image: radial-gradient(#ede 47%, grey 49%, transparent 50%);
}
.knob::after {
    content:"⬤";
    font-size: 1vw;
    margin: auto;
    transform: rotateZ(calc(var(--k-rotate) * -1deg)) translateY(calc(30vw / -8));
}
.knob::before {
    content: attr(aria-description);
    font-size: clamp( 0.7em, 2.5vw, 1.5em);
    position: absolute;
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-top:4.5vw;
}
i {
    font-size: 1.5em;
    font-style: normal;
    margin-left: 1em;
    display:inline-block;
    border-radius: 50%;
    min-width: 1em;
    text-align: center;
    padding-inline: 4px;
}

i:hover {
    background-color: darkgray;
}

i::after {
    content: '\FE0E';
}